@font-face {
    font-family: "Concert One";
    src: local(Concert One), url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: local(Roboto), url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* RESETS-MOD'S =======================*/
span{
    font-family: "Roboto";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black-color: #000000;
}
li{
    list-style: none;
}

/* HEADER-MOD =========================*/
.header-container{
    font-size: 26px;
    display: flex;
    width: 95%;
    margin: auto;
    padding: 10px;
}
.header--logo{
    font-family: "Concert One";
}
.header--login{
    margin-left: auto;
    font-family: 'Roboto';
    padding: 5px;
    font-size: 20px;
    width: 30%;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* NAV-MOD --------*/

.navegation{
    text-align: center;
}
.nav--home{
    font-size: 24px;
    font-family: 'Roboto';
}
/* MAIN-MOD =========================*/
/* grid columns mod -- Essas alterações transformarão as linhas e colunas do meu site */
.grid--3x4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    gap: 10px;
    margin: 10px;
}
.container--image1{
    grid-column-start: 1; /*colunas*/
    grid-column-end: 3;   /*colunas*/
    grid-row-start: 1;     /*linhas*/
    grid-row-end: 2;      /*linhas*/
}
.container--image2{
    grid-column-start: 3; /*colunas*/
    grid-column-end: 4;   /*colunas*/
    grid-row-start:1;     /*linhas*/
    grid-row-end: 3;      /*linhas*/
}
.container--image3{
    grid-column-start: 1; /*colunas*/
    grid-column-end: 2;   /*colunas*/
    grid-row-start:2;     /*linhas*/
    grid-row-end: 3;      /*linhas*/
}
.container--image4{
    grid-column-start: 2; /*colunas*/
    grid-column-end: 3;   /*colunas*/
    grid-row-start: 2;     /*linhas*/
    grid-row-end: 3;      /*linhas*/
}
.container--image5{
    grid-column-start: 1; /*colunas*/
    grid-column-end: 2;   /*colunas*/
    grid-row-start: 3;     /*linhas*/
    grid-row-end: 5;      /*linhas*/
}
.container--image6{
    grid-column-start: 2; /*colunas*/
    grid-column-end: 4;   /*colunas*/
    grid-row-start: 3;     /*linhas*/
    grid-row-end: 4;      /*linhas*/
}
.container--image7{
    grid-column-start: 2; /*colunas*/
    grid-column-end: 3;   /*colunas*/
    grid-row-start: 4;     /*linhas*/
    grid-row-end: 5;      /*linhas*/
}
.container--image8{
    grid-column-start: 3; /*colunas*/
    grid-column-end: 4;   /*colunas*/
    grid-row-start: 4;     /*linhas*/
    grid-row-end: 5;      /*linhas*/
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* FOOTER - MOD ====================*/
footer{
    background-color: #000000;
    padding: 40px;
}
.footer--logo{
    font-family: "Concert One";
    color: white;
    font-size: 24px;
}
.footer-container{
    display: flex;
}
.footer-list{
    display: flex;
    margin: auto;
    align-items: center;
}
.footer--icon{
    width:  30px;
    margin: 0 10px;
}
.footer--copyright{
    color: white;
    font-size: 24px;
}

/* TESTE MODAIS */


/* MODAL LOGIN ============ */
.modal--login{
    display: none;
    position: absolute;
    margin: auto;
    border: 1px solid;
    width: 50%;
    background-color: white;
    height: 275px;
    z-index: 999;
    top: 25%;
    left: 25%;
    box-shadow: 1px 1px 500px 100px;
    font-family: 'Roboto';
}

.title-login-container{
    background-color: black;
    text-align: center;
}
.login-container{
    width: 70%;
    margin: auto;
}
.password, .login{
    font-size: 100%;
    width: 100%;
}
.title-login{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.user-container, .password-container{
    margin: 10px 0;
}

.modal-button{
    width: 49%;
    padding: 11px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    border: 0.1px none;
    border-radius: 10px;
    color: white;
    border: 0.1px solid black;
}
.modal-button:last-child{
    padding: 11px;
    border: 0.1px solid black;
    color: black;
    background-color: white;
}

.modal-button:hover{
    cursor: pointer;
    background-color: rgb(109, 109, 109);
}

/* WINDOW INFORMATION photo - COMMENTS/LIKES ======*/
.window-information-photo{
    display: none;
    background-color: #fff4d7;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 0.1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    left: 25%;
    top: 30%;
    box-shadow: 0px 0px 1000px 1000px, rgba(255, 0, 0, 0.562);
}

.window-image-container{
    margin: auto;
}
.window-image{
    width: 100%;
    border-radius: 10px;
}
.window-header-container{
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: "Roboto";
}
.window-exit{
    margin-left: auto;
    height: 50px;
    width: 50px;
}
.window-interations{
    display: flex;
    padding: 10px;
}
.window-chat-icon{
    margin-left: auto;
}
.window-comment{
    display: flex;
    padding: 10px;
}
/* class para o JS */
.active{
    display: block;
}
.active ,.modal--login{
    animation: modal--login 0.4s;
}
@keyframes modal--login {
    from{
        opacity: 0;
        transform: translate3d(0,-20px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.error-login{
    border: 1.1px solid red;
}



/* TESTES PARA O FUTURO */

/* alterar vvvvv */
.icon-image{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    left: 10px;
    bottom: 10px;
    padding:5px;
    border-radius: 10px;
}
.icon1{
    margin: 0 5px;
    color: white;
}
.icon-container{
    position: relative;
}